.show {
    transition: all .6s;
}

.app-button-on-mobile {
    display: none;
}

.app-footer {
    position: relative;
}

.app-footer> :nth-child(1) {
    position: absolute;
    left: 0;
}

@media only screen and (max-width: 900px) {
    .modal-footer {
        display: flex;
        flex-direction: column-reverse;
    }

    .app-footer> :nth-child(1) {
        position: relative;
    }


    .app-button-on-mobile {
        display: block;
        padding-inline: 2.5rem;
    }
}