.show {
    transition: all .6s;
}

.app-button-on-mobile {
    display: none;
}


@media only screen and (max-width: 900px) {
    .modal-footer{
        display: flex;
        justify-content: space-around;
    }

    .app-button-on-mobile {
        display: block;
        padding-inline: 2.5rem;
    }
}