<div (click)="onClickCard()" data-bs-toggle="modal" data-bs-target="#exampleModal"
    class="card h-100 border-0 shadow rounded-1 overflow-hidden app-card" style="cursor: pointer;">

    <img [src]="project.gifUrl" class="card-img-top bg-black" alt="Preview do projeto"
        style="object-fit: cover; height: 200px;">

    <div class="card-body d-flex flex-column">
        <h5 class="card-title fw-semibold">{{ project.title }}</h5>
        <p class="card-text text-secondary small">{{ project.description || 'Sem descrição' }}</p>
    </div>
    <span class="px-2">Última atualização: {{ project.lastestUpdate | date:'dd/MM/yyyy' }}</span>

    <div class="card-footer darker border-0">
        <a [href]="project.gitUrl" target="_blank" class="btn btn-outline-secondary w-100 rounded-pill">Ver no
            GitHub</a>
    </div>

</div>