<section id="Skills" class="py-5">
    <div class="container">
        <h2 class="text-center fw-bold">Habilidades</h2>
        <hr class="w-25 mx-auto mb-5">

        <div class="row row-cols-1 row-cols-lg-2 g-4">
            <div *ngFor="let item of skills" class="col d-flex align-items-start gap-3">
                <span>
                    <i class="{{ item.icon }} fs-1"></i>
                </span>
                <div class="d-flex flex-column">
                    <label class="fw-semibold fs-5">{{ item.title }}</label>
                    <small class="lead text-muted fs-6">{{ item.description }}</small>
                </div>
            </div>
        </div>
    </div>
</section>