<section id="Contact" class="py-5 bg-darker">
    <div class="container">
        <div class="row gy-4 justify-content-center justify-content-md-around text-center text-md-start">

            <div class="col-12 col-md-4">
                <h5 class="fw-bold mb-3">Leonardo Rodrigues</h5>
                <p class="text-muted">
                    Desenvolvedor Fullstack
                </p>
            </div>

            <div class="col-12 col-md-4 col-lg-3">
                <h5 class="fw-bold mb-3">Acesso Rápido</h5>
                <ul class="list-unstyled ">
                    <li><a href="#Home" class="text-decoration-none d-block text-muted mb-2">Início</a></li>
                    <li><a href="#About" class="text-decoration-none d-block text-muted mb-2">Sobre</a></li>
                    <li><a href="#Skills" class="text-decoration-none d-block text-muted mb-2">Habilidades</a></li>
                    <li><a href="#Stack" class="text-decoration-none d-block text-muted mb-2">Stack</a></li>
                    <li><a href="#Portfolio" class="text-decoration-none d-block text-muted mb-2">Portfólio</a></li>
                </ul>
            </div>


            <div class="col-12 col-md-4 col-lg-3">
                <h5 class="fw-bold mb-3">Contato</h5>
                <p class="mb-2">
                    <a href="mailto:leokrodrigues@gmail.com" class="text-decoration-none text-muted">
                        <i class="bi bi-envelope text-secondary pe-2"></i>leokrodrigues133&#64;gmail.com
                    </a>
                </p>
                <p class="mb-2">
                    <a href="https://api.whatsapp.com/send?phone={{phone}}&text={{message}}"
                        class="text-decoration-none text-muted">
                        <i class="bi bi-whatsapp text-success pe-2"></i>(49) 9 9807-6236
                    </a>
                </p>
                <div class="d-flex justify-content-center justify-content-md-start gap-3 ">

                    <a *ngFor="let link of contactLinks" [href]="link.url" class="{{link.color}} fs-4 " target="_blank">
                        <i class="bi {{link.icon}}"></i>
                    </a>

                </div>
            </div>

        </div>
    </div>
</section>