.instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 15%, #dc2743 40%, #cc2366 70%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    height: 2.6rem;
    width: 2.1rem;
}


.linkedin {
    color: #0A66C2;
}
.github {
    color: #171515;
}

.bg-darker {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 2rem 0;
}