<div class="logo-container">
  <img src="icons/Logo.png" alt="Logo" class="logo">
</div>

<nav class="navbar-custom">
  <div class="nav-content">
    <a *ngFor="let item of navItems" 
       [href]="item.route"
       class="nav-item"
       [class.active]="activeRoute === item.route"
       (click)="setActive(item.route); $event.preventDefault()"
       data-bs-toggle="tooltip"
       data-bs-placement="left"
       [attr.title]="item.label"
       [attr.aria-label]="item.label">
      <i [class]="item.icon"></i>
    </a>
  </div>
</nav>
