<section id="Home">
  <img src="assets/bg1.jpg" alt="Background" class="app-parallax-bg">

  <div class="container-fluid">
    <div class="home-content">
      <div class="home-info">
        <h1 class="greeting"
                data-aos="fade-up" 
                data-aos-offset="100" 
                data-aos-duration="1000"
                data-aos-delay="100"
                data-aos-once="true"
                >
          Olá, eu sou o
        </h1>
        <h2 class="name text-nowrap"
                data-aos="fade-up" 
                data-aos-offset="100" 
                data-aos-duration="1000"
                data-aos-delay="300"
                data-aos-once="true"
                >
          Leonardo Rodrigues
        </h2>
        <h3 class="role"
                data-aos="fade-up" 
                data-aos-offset="100" 
                data-aos-duration="1000"
                data-aos-delay="300"
                data-aos-once="true"
                >
          Desenvolvedor Fullstack
        </h3>

        <div class="social-buttons"
                data-aos="fade-up" 
                data-aos-offset="100" 
                data-aos-duration="1000"
                data-aos-delay="500"
                data-aos-once="true"
                >

          <a href="https://github.com/leorodrigues133"
           target="_blank" 
           rel="noopener noreferrer" 
           class="social-btn"
            aria-label="GitHub">
            <i class="bi bi-github "></i>
          </a>

          <a href="https://www.linkedin.com/in/leonardorodriguesdev" 
          target="_blank" 
          rel="noopener noreferrer"
          class="social-btn" 
          aria-label="LinkedIn">
            <i class="bi bi-linkedin"></i>
          </a>

          <a href="#MailMe" 
          class="social-btn" 
          aria-label="Email">
            <i class="bi bi-envelope"></i>
          </a>

        </div>
      </div>

      <div class="home-image"
                data-aos="fade-right" 
                data-aos-offset="100" 
                data-aos-duration="800"
                data-aos-delay="600"
                data-aos-once="true">
        <img src="assets/Foto-perfil.png" alt="Leonardo Rodrigues - Desenvolvedor Fullstack" class="profile-image">
      </div>
    </div>

    
        <div class="info-cards-container d-flex gap-4 justify-content-center flex-wrap m-3">

            <div class="app-card-info"
                data-aos="fade-left" 
                data-aos-offset="100" 
                data-aos-duration="1000"
                data-aos-delay="100"
                data-aos-once="true"
                data-aos-anchor=".profile-image">
                <div class="card-icon">
                    <i class="bi bi-globe"></i>
                </div>
                <div class="card-content">
                    <h3 class="card-number">{{ tempoDeEstudo }}+</h3>
                    <p class="card-label">Anos com Angular</p>
                </div>
            </div>

            <div class="app-card-info"
                data-aos="fade-left" 
                data-aos-offset="100" 
                data-aos-duration="1000"
                data-aos-delay="200"
                data-aos-once="true"
                data-aos-anchor=".profile-image">
                <div class="card-icon">
                    <i class="bi bi-code-slash"></i>
                </div>
                <div class="card-content">
                    <h3 class="card-number">{{ tempoDeEstudo }}</h3>
                    <p class="card-label">Anos com .NET</p>
                </div>
            </div>

            <div class="app-card-info"
                data-aos="fade-left" 
                data-aos-offset="100" 
                data-aos-duration="1000"
                data-aos-delay="200"
                data-aos-once="true"
                data-aos-anchor=".profile-image">
                <div class="card-icon">
                    <i class="bi bi-database"></i>
                </div>
                <div class="card-content">
                    <h3 class="card-number">18+</h3>
                    <p class="card-label">Projetos</p>
                </div>
            </div>
        </div>
  </div>
</section>