<section id="About" class="py-5">
    <div class="container">
        <div class="d-flex justify-content-around responsive">

            <div class="d-flex flex-column justify-content-center align-items-start">


                <h1 class="fs-3 mt-5 text-center">Olá eu sou o <strong class="app-text-important text-nowrap">Leonardo
                        Rodrigues</strong>.
                    <br>
                    <h2><strong class="app-text-subtittle">Desenvolvedor Backend</strong></h2>
                </h1>

                <div class="d-flex gap-3 mt-3 justify-content-center w-100 responsive">
                    <button class="rounded-pill p-2 px-lg-5" (click)="openModal()">Contato</button>
                    <button class="rounded-pill p-2 px-lg-5" (click)="downloadCV()">Baixar CV</button>
                </div>

            </div>

            <img src="assets/portfolio3.jpg" alt="Imagem do Portfólio" class="img-fluid liquid-style">

        </div>

        <hr>

        <div class="row flex-wrap mt-5">
            <div class="col-lg">

                <h2 class="text-center fw-bold">Sobre mim</h2>
                <p class="lead mx-3 fs-5">
                    Sou estudante de desenvolvimento backend com cerca de {{ studyTime }} de
                    experiência em projetos acadêmicos e colaborativos,
                    utilizando a <span class="app-text-stack fw-semibold">plataforma .NET</span>.<br>
                    Já desenvolvi aplicações com diferentes regras de negócio e
                    atualmente estou ampliando meus conhecimentos em <span
                        class="app-text-stack fw-semibold">Angular</span>
                    para atuar também no desenvolvimento <span class="app-text-stack fw-semibold">full stack</span>.
                </p>


            </div>
        </div>