<section id="Portfolio" class="py-5">
  <div class="container">
    <h2 class="text-center fw-bold mb-5">Projetos</h2>
    <p class="lead text-center">Alguns projetos não dispõe de interface ou ainda estão recebendo ajustes.</p>
    <div class="row g-4">

      <div *ngIf="allProjects.length < 1" class="d-flex flex-column justify-content-center align-items-center">
        <span class="spinner-border shadow my-5"></span>

        <h2 class="lead">Buscando projetos</h2>
      </div>
      <h6 class="mx-4" *ngIf="allProjects.length > 1">
        Apresentados {{displayedProjects.length}} de {{foundRepositories}} projetos.</h6>

      <div class="col-12 col-md-6 col-lg-4" *ngFor="let project of displayedProjects">

        <app-cards [project]="project" (openModal)="openProjectModal($event)"></app-cards>
        
      </div>
      
      <app-card-modal [project]="selectedProject"
      (closeModal)="selectedProject = null"></app-card-modal>

    </div>

    <div *ngIf="allProjects.length > 1" class="d-flex justify-content-center mt-5">
      <button class="btn btn-outline-secondary" (click)="loadMoreProjects()"
        [disabled]="displayedProjects.length >= foundRepositories"> Carregar mais</button>
    </div>

  </div>
</section>