/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import "bootstrap-icons";

// icon colors


.linkedin {
    color: #0A66C2;
}

.github {
    color: #b0b0b0;
}

// customized colors
.bg-darker {
    background-color: #1a1a1a;
    color: #ffffff;
}

.bg-darker-plus {
    background-color: #121212bf;
    color: #ffffff;
}

// Liquid effect animation
@keyframes liquid-effect {
    0% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }

    33% {
        border-radius: 48% 52% 53% 47% / 46% 54% 46% 54%;
    }

    66% {
        border-radius: 52% 48% 47% 53% / 54% 46% 54% 46%;
    }

    100% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
}

// Animações

@keyframes space-effect {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-5px);
    }
}

@keyframes neon-effect {
    from {
        filter: drop-shadow(0 0.65rem 0.2rem rgba(0, 128, 255, 0.8));
    }

    to {
        filter: drop-shadow(0 0.65rem 0.5rem rgba(0, 200, 255, 1));
    }
}

@keyframes neon-effect-2 {
    from {
        opacity: 0.6;
        box-shadow: 0 0 10px rgba(166, 138, 249, 0.5);
    }

    to {
        opacity: 1;
        box-shadow: 0 0 20px rgba(166, 138, 249, 0.8);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}